.panel .panel-heading {
  font-weight: bold;
}

.panel .panel-heading span.label {
  float: right;
  font-size: medium;
  font-weight: lighter;
}

.panel .panel-body .media .media-object {
  width: 100px;
}
