h1 {
  text-align:center;
}
form {
  margin-left: 25%;
  margin-right: 25%;
}

.app-calendar-container, .app-facilities-list {
  max-width: 900px;
  margin: 40px auto;
}

.modal-open .modal.fade {
  opacity: 1 !important;
  background-color: #8080809c;
}

.modal-open .modal.fade .modal-dialog .modal-content {
  margin-top: 50% !important;
}
